[Unit]
 Description=Check for ArchLinux available updates according to OnUnitActiveSec= time, default 1h 30min.

[Timer]
 OnBootSec=10min
 OnUnitActiveSec=1h 30min
 Unit=upcheck.service

[Install]
 WantedBy=timers.target
