[Unit]
 Description=Automatically check updates and send notifications via libnotify
 After=network-online.target

[Service]
 Type=simple
 ExecStart=/home/sechacklabs/.local/bin/upcheck
 KillMode=process
 KillSignal=SIGINT

[Install]
 WantedBy=multi-user.target
