[Unit]
 Description=Automatically check updates and send notifications via notify-rust
 After=network-online.target
 ConditionUser=!root

[Service]
 Type=oneshot
 ExecStart=/usr/bin/upcheck
 KillMode=process
 KillSignal=SIGINT

[Install]
 WantedBy=default.target
